*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

.welcome{
  text-align: center;
  margin-top: 2rem;
}

.activities-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  grid-gap: 3rem;
  margin: 2rem;
  margin-top: 0;
}

.folder{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file a{
  display: flex;
  flex-direction: column;
  align-items: center;
}

img{
  height: 10rem;
}

header{
  width: 100%;
  background-color: blue;
  position: absolute;
  height: 5rem;
  top: 0;
  left: 0;
  z-index: 1;
}

.container{
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.container ul{
    display: flex;
    align-items: center;
    left: 0;
    justify-content: space-between;
    font-size: 1.5rem;
    padding-top: 1.7rem;
    width: 100%;
    list-style-type: none;
    color: white;
}

.forms{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem
}

.folder-form{
  border: 2px solid black;
  padding: 21px;
  border-radius: 2rem;
  margin: 2rem;
}

.file-form{
  border: 2px solid black;
  padding: 20px;
  border-radius: 2rem;
  margin: 2rem;
}

.heading{
  font-size: 2.4rem;
  text-align: center;
  padding-bottom: 3.5rem;
}

input[type="file"]{
  font-size: 1.5rem;
}

input[type="text"]{
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid grey;
  margin-right: 2rem;
}

input[type="text"]:focus{
  outline: none;
}

.submit{
  padding: 0.5rem 2rem;
  background-color:#5cb85c;
  border-radius: 2rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.submit:hover{
  background-color:#359235;
}

.submit:focus{
  outline: none;
}